<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">

<!-- 
<select id="email_check" resultType="Integer">
	select count(*)
	from userinfo
	where email = #{email}
</select> -->
<select id="l_list" resultType="category.CategoryVO">
  <!-- SELECT    l.l_name
  FROM      (SELECT    DISTINCT l_code
             FROM      category ) c LEFT OUTER JOIN l_catg l
  ON        c.l_code = l.l_code -->
  select *
  from	 l_catg
  WHERE	 l_code >0 
</select>
<select id="m_list" resultType="category.CategoryVO">
  SELECT    *
  FROM      m_catg
  WHERE 	l_code = #{lcode}

</select>
<select id="reply_count" resultType="Integer">
  SELECT    COUNT(*)
  FROM      reply
  WHERE 	email = #{email}

</select>
<select id="board_count" resultType="Integer">
  SELECT    COUNT(*)
  FROM      board
  WHERE 	email = #{email}

</select>
</mapper>
