<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	
	<update id="member.userinfo_update">
		UPDATE userinfo
		SET		nickname = #{nickname, jdbcType=VARCHAR}
				,name = #{name, jdbcType=VARCHAR}	
				,filepath = #{filepath, jdbcType=VARCHAR}
		WHERE	email = #{email}		
	</update>
	
	
	<select id="login" resultType="member.MemberVO">
		SELECT		*
		FROM		userinfo	
		WHERE		email=#{email}
		<if test="social_code == '0'.toString()">
		AND			pw=#{pw, jdbcType=VARCHAR}
		</if>
		
	</select>
	
	<insert id="insertgoogle">
	 INSERT INTO userinfo (email,social_code, name, filepath )
	 values	(#{email},#{social_code},#{name},#{filepath})
	</insert>
	
	<select id="email_check" resultType="Integer">
	select count(*)
	from userinfo
	where email = #{email}
	</select>
	
	<insert id="join">
	insert into userinfo ( email, pw, name, nickname, phone )
		values( #{email}, #{pw, jdbcType=VARCHAR}, #{name}, #{nickname}, #{phone} )
	</insert>
	
	<!-- 소셜로그인(카카오, 네이버) -->
	<insert id="social_save">
	 INSERT INTO userinfo (email,social_code, name, nickname, filepath, phone )
	 VALUES	(#{email},#{social_code},#{name, jdbcType=VARCHAR},#{nickname, jdbcType=VARCHAR},#{filepath, jdbcType=VARCHAR},#{phone, jdbcType=VARCHAR})
	</insert>	
</mapper>
