@charset "UTF-8";

@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
/* @font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	background-image : url(../resources/images/backimg.png);
	background-size: 1000px 500px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#input{
	width: 100%;
	border-radius: 20px;
	margin: 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border:none;
	padding-left: 40px;
	opacity: 0.8;
	/* background-color: transparent; */
}
#inputWrapper{
	border: solid 1px var(--light-gray-color);
    width: 400px;
    height: 55px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    margin: 13 auto;
}
#inputWrapper i{
	 line-height: 50px;
    color : var( --midium-gray-color);
}
.wrapper{
	justify-content: center;
	align-items: center;
} 
.font_h1{
	color: #C0E5FC;
	text-align: center;
	font-size: 55px;
	font-family: 'LeferiPoint-WhiteObliqueA';
}
.font_h3{
	font-size: 1.5rem;
	color: #C0E5FC;
	text-align: center;
 	word-spacing: 2px;
 	font-family: 'LeferiPoint-WhiteObliqueA';
}
.block{
	display: block;
}
.fa-search{
   position: absolute;
    left: 23px;
    top: 20px;
    margin: 0;
}
.img_custom{
	width: 50px;
}
header{
	margin-top: 10px;
	margin-right: 30px;
	display: flex;
	justify-content: flex-end;
	padding-top: 5px;
}
.login_btn{
	color: white;
	margin-top: 15px;
	margin-right: 4px;
	font-family: 'LeferiPoint-WhiteObliqueA';
}
.center{
	margin-top: 60px;
}
.line_height{
	line-height: 1.3em;
}